// primary styles 

$black: #030303;
$hoverBlack: #393939;
$charcoal: #3a3a3a;
$white: #fff;
$blue: #0b02ff;
$lightBlue: #99bbc2;
$red: #ff0000;
$orange: #E85E39;
$grayBlack: #1f1f1f;

$gray: #808285;
$darkGray: #767676;
$lightGray: #999999;
$lighterGray: #f2f3f3;