.global_header {
	padding: 1rem 0 0;
	font-size: 12px;
	color: $gray;
	
	@include media($tablet) {
		display: none;
	}

	ul {
		list-style: none;

		li {
			@include clearfix;
			display: inline-block;
			padding-right: 20px;
			
			@include media($break960) {
				padding-right: 0;
			}
			
			&:first-child {
				padding-left: 0;
			}
			
			&.menu-item-has-children {
				&:hover {
				
					a {
						color: $white;
						
						&:hover {
							color: $lightBlue;
						}
					}
				}
			}
						
			.sub-menu {
				li {
					padding-left: 7px;
					float: left;
					padding-right: 0;
					clear: both;
					
					a {
						color: $white;
						
						&:hover {
							color: $lightBlue;
						}
					}
				}
			}
		}
	}
	
	.header_menu {
		> li {
			a {
				z-index:11;
			}
		}
	
		.sub-menu {
			background: $charcoal;
			padding: 40px 20px 15px 23px;
			margin-left: -10px;
			margin-top: -50px;
			white-space: nowrap;
			min-width: 100%;
			
			@include media($break960) {
				margin-left: -13px;
				padding-left: 13px;
			}
			
			@include media($break820) {
				margin-left: -8px;
				padding-left: 8px;
			}
		}
	}
	
	a {
		display: inline-block;
		color: $gray;
		padding: 0;
		
		&:hover {
			color: $lightBlue;
		}
	}
}

.dark_background {
	.global_header {
		color: $white;
		
		.header_menu {
			.sub-menu {
				background: $charcoal;
			}
		}
		
		a {
			color: $white;
			
			&:hover {
				color: $lightBlue;
			}
		}
	}
}

.logo {
	text-align: center;
	margin-top: 25px;
	
	@include media($tablet) {
		margin-top: 10px;
	}
	a {
		display: inline-block;
	}
	img {
		display: inline-block;
		max-width: 90%;
		
		@include media($mobile) {
			max-width: 130px;
			margin-top: 9px;
		}
	}
	
	.secondary_navigation {
		position: absolute;
		top: 5px;
		right: 0;
		
		@include media($break960){
			right: 20px;
		}
		
		ul {
			li {
				padding-left: 20px;
				padding-right: 0;
				text-transform: uppercase;
			}
		}
		
		a {
			color: $lightGray;
		}
	}
	
	.dark_background {
		.secondary_navigation {
			a {
				color: $lightGray;
			}
		}
	}
	
	.where_to_buy {
		position: absolute;
		top: 40px;
		right: 0;
		
		@include media($break960){
			right: 20px;
		}
		
		@include media($tablet) {
			float: left;
			padding: 10px 0 0 30px;
			font-size: 18px;
			color: $white;
			font-weight: 300;
			background: $black;
			padding-bottom: 20px;
			width: 100%;
		}
		
		label {
			margin-right: 5px;
			
			
		}
		
		input {
			border-radius: 15px;
			border: 1px solid $lightGray;
			padding: 2px 17px 3px 12px;
			width: 140px;
			
			@include media($break960){
				padding: 2px 10px 3px 12px;
			}
			
			&::-webkit-input-placeholder {
			   color: $gray;
			}
			
			&:-moz-placeholder { /* Firefox 18- */
			   color: $gray;  
			}
			
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $gray;  
			}
			
			&:-ms-input-placeholder {  
			   color: $gray;  
			}
			
			&:focus {
				&::-webkit-input-placeholder {
				   color: transparent;
				}
				
				&:-moz-placeholder { /* Firefox 18- */
				   color: transparent;  
				}
				
				&::-moz-placeholder {  /* Firefox 19+ */
				   color: transparent;  
				}
				
				&:-ms-input-placeholder {  
				   color: transparent;  
				}
			}
			
			@include media($break960) {
				width: 130px;
			}
			
			@include media($tablet) {
				margin-top: 10px;
				width: 95%;
			}
		}
		
		input[type="submit"] {
			background: url('../images/icon-search.png') 0 center no-repeat;
			background-size: 16px 17px;
			border: none;
			text-indent: -9999em;
			width: 16px;
			height: 18px;
			position: absolute;
			right: 0px;
			top: 2px;
			
			@include media($tablet) {
				bottom: 5px;
				top: auto;
				right: 20px;
			}
		}
	}
}

.dark_background {
	
	.where_to_buy {
		
		label {
			color: $lightGray;
		}
		input {
			background-color: #1f1f1f;
			border-color: #1f1f1f;
			color: $lightGray;
		}
	}
	
	.dark-mobile-menu-button {
		position: absolute;
		font-size: 32px;
		right: 25px;
		top: 10px;
		width: 27px;
		height: 27px;
		background: url('../images/white-menu-btn.png') no-repeat;
	}
}

.mm-opened {
	.dark_background {
	
		.dark-mobile-menu-button {
			background: url('../images/white-x.png') no-repeat;
		}
		
		#mobile-menu {
			&.mm-menu {
				@include media($tablet) {
					display: block;
				}
			}
		}
	}
}

.primary_navigation {
	@include span-columns(12);
	margin-top: 10px;
	
	.header_menu {
		text-align: center;
		
		> li {
			> a {
				text-transform: uppercase;
				font-weight: lighter;
				padding: 20px;
				
				&:after {
					color: #cccccc;
					margin-left: 20px;
					
					@include media($break960) {
						margin-left: 10px;
					}
					
					@include media($break820) {
						margin-left: 5px;
					}
				}
			}
			
			&:last-child {
				> a {
					&:after {
						content: '';
					}	
				}
			}
		}
		
		li {
			&:hover {
				
				.sub-menu {
					display: block;
				}
			}
			
		}	
	}
	
	.sub-menu {
		display: none;
		position: absolute;
		z-index: 10;
		
		li {
			float: none;
		}
	}
}

.show-on-mobile {
	display: none;
	
	@include media($tablet) {
		display: block;
		
	}
}

.mobile-menu-button {
	position: absolute;
	font-size: 32px;
	right: 25px;
	top: 10px;
	width: 27px;
	height: 27px;
	background: url('../images/black-menu-btn.png') no-repeat;
}

.mm-opened {
	.mobile-menu-button {
		background: url('../images/black-x.png') no-repeat;
	}
	
	#mobile-menu {
		&.mm-menu {
			@include media($tablet) {
				display: block;
			}
		}
	}
}

.mobile-header {
	margin-bottom: 20px;
}

#mobile-menu {
	@include media($tablet) {
		&.show-on-mobile {
			display: none;
		}
	}
	&.mm-menu {
		background: #1f1f1f;
	
		.mm-list {
			padding: 0;
		}
		.mm-panel {
			padding: 0;
			
			ul {
				li {
					padding: 0 10px;
					font-size: 18px;
					text-transform: uppercase;
					
					
					.mm-subopen {
						&:before {
							border: none;
							background: none;
						}
						&:after {
							@include transform(rotate(0deg));
							font-family: FontAwesome;
							content: '\f105';
							font-size: 24px;
							color: $white;
							border: 0;
							top: 20px !important;
							left: 0;
						}
					}
					
					&.mm-opened {
						padding-bottom: 0;
						margin-bottom: -2px;
						> a {
							padding-bottom: 20px;
							background: none;
							&.mm-subopen {
								&:before {
									border: none;
									background: none;
								}
								&:after {
									@include transform(rotate(0deg));
									font-family: FontAwesome;
									content: '\f107';
									background: none;
								}
							}
						}
						
					}
					
					a {
						color: $white;
						font-family: Raleway, sans-serif;
						font-weight: 100 !important;
						padding-top: 20px;
						padding-bottom: 20px;
					}
				}
				
				.sub-menu {
					
					&.mm-panel {
						background: none;
					}
					
					li {
						background: $white;
						margin-left: -10px;
						margin-right: -10px;
						text-transform: capitalize;
						padding: 0;
						
						&:after {
							border: 0;
						}
						
						&:first-child {
							padding-top: 10px;
						}
						
						&:last-child {
							padding-bottom: 10px;
						}
					}
					
					a {
						color: $black;
						padding: 4px 30px;
						font-size: 16px;
						font-weight: 200 !important;
					}
				}
			}
		}
	}
	
	.where_to_buy {
		float: left;
		padding: 20px 0 0 30px;
		font-size: 18px;
		color: $white;
		font-weight: 300;
		padding-bottom: 20px;
		width: 100%;
		
		label {
			display: block;
			width: 100%;
			color: $white;
			text-transform: uppercase;
			font-size: 18px;
			font-family: Raleway, sans-serif;
			font-weight: 100;
		}
		
		input {
			border-radius: 15px;
			background: $lightGray;
			border: none;
			padding: 2px 17px 3px 12px;
			width: 50%;
			
			@include media($break960){
				padding: 5px 10px 3px 12px;
			}
			
			&::-webkit-input-placeholder {
			   color: $black;
			   font-size: 14px;
			}
			
			&:-moz-placeholder { /* Firefox 18- */
			   color: $black;
			   font-size: 14px;  
			}
			
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $black;
			   font-size: 14px;  
			}
			
			&:-ms-input-placeholder {  
			   color: $black;
			   font-size: 14px;  
			}
			
			&:focus {
				&::-webkit-input-placeholder {
				   color: transparent;
				}
				
				&:-moz-placeholder { /* Firefox 18- */
				   color: transparent;  
				}
				
				&::-moz-placeholder {  /* Firefox 19+ */
				   color: transparent;  
				}
				
				&:-ms-input-placeholder {  
				   color: transparent;  
				}
			}
			
			@include media($break960) {
				width: 130px;
			}
			
			@include media($tablet) {
				margin-top: 10px;
				width: 175px;
				display: inline-block;
			}
		}
		
		input[type="submit"] {
			background: url('../images/icon-search-black.png') 0 center no-repeat;
			background-size: 16px 17px;
			border: none;
			text-indent: -9999em;
			width: 16px;
			height: 18px;
			position: relative;
			top: 5px;
			left: -30px;
		}
	}
}
