.page_content_wrap {
	margin-bottom: 50px;
	
	.single_hero_image {
		text-align: center;
	}
	
	img.single_hero { 
		max-width: 100%;
		height: auto;
	}
}

.column {
	margin-bottom: em(20, 16);
}

.one_column {
	.column {
		@include span-columns(8.25);
		@include shift(1.875);
		
		@include media($mobile) {
			@include span-columns(4);
			@include shift(0);
		}
	}
}

.two_column {
	.column {
		@include span-columns(6);
		@include omega(2n);
		@include clearRow(2n);
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
	
}

.three_column {
	.column {
		@include span-columns(4);
		@include omega(3n);
		@include clearRow(3n);
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

.four_column {
	.column {
		@include span-columns(3);
		@include omega(4n);
		@include clearRow(4n);
		
		@include media($tablet) {
			@include omega-reset(4n, 8);
			@include span-columns(4);
			@include omega(2n);
		}
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

.five_column {
	.column {
		@include span-columns(2.4);
		@include omega(5n);
		@include clearRow(5n);
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

.six_column {
	.column {
		@include span-columns(2);
		@include omega(6n);
		@include clearRow(6n);
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

.seven_column {
	.column {
		@include span-columns(1.7143);
		@include omega(7n);
		@include clearRow(7n);
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

.eight_column {
	.column {
		@include span-columns(1.5);
		@include omega(8n);
		@include clearRow(8n);
		
		@include media($mobile) {
			@include span-columns(4);
		}
	}
}

.column_section {
	ul {
		padding-left: 20px;
	}
	p {
		margin: 15px 0;
		
		img {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

.dark_background {
	.column_section {
		font-weight: 300;
	}
}

.graphic_section {
	height: 400px;
	position: relative;
	background-size: cover;
	background-position: center center;
	
	.container {
		@include vertical-align();
	}
	
	.align_left {
		@include span-columns(6);
		clear: both;
	}
	
	.align_right {
		@include span-columns(6);
		@include shift(6);
		clear: both;
	}
}

.side_image {
	@include span-columns(6);
	
	img {
		max-width: 100%;
		display: block;
	}
}

.section_heading {
	text-align: center;
	
	h2 {
		font-weight: 200;
	}
	
	&.image_left {
		text-align: right;
	}
	
	&.image_right {
		text-align: left;
	}
}

.align_left {
	text-align: left;
}

.align_center {
	text-align: center;
}

.align_right {
	text-align: right;
}

.push_right {
	float: right;
	text-align: right;
	margin-right: 0;
}

.blue_bg {
	background-color: $blue;
}

.red_bg {
	background-color: $red;
}

.text-white {
	color: $white;
}

.text-black {
	color: $black;
}